.parent {
  background-image: url("../../../frontend/public/HIREWISE.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  display: flex;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: darken;
}

.auth-container {
  max-width: 400px;
  margin: auto;
  padding: 60px 20px;
  border-radius: 20px;
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.23);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.3px);
-webkit-backdrop-filter: blur(5.3px);
border: 1px solid rgba(255, 255, 255, 0.56);
}

.steps-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.step-container {
  text-align: center;
}
.step-content {
  color: white !important;
}

.step-title {
  color: white !important;
  margin-bottom: 30px !important;
  font-size: 24px;
  font-weight: bold;
}


.auth-buttons {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  gap: 15px;
  margin: auto;
  width:80%;
  
}

.auth-button {
  flex: 1;
  background-color: rgba(255, 255, 255, 0);
  color: #ffffff  ;
  border: 2px solid #ffffff !important ;
}

.next-button {
  margin-top: 20px;
}



.role-buttons {
  display: flex;
  margin: auto;
  justify-content: space-between;
  gap: 15px;
  width:60%;
}

.role-button {
  flex: 2;
  background-color: rgba(255, 255, 255, 0);
  color: #ffffff  ;
  border: 2px solid #ffffff !important ;
}

.back-button{
  width: 80%;
  background-color: #b0b3b8;
  margin: auto;  
  border: none;
}


.back-button:hover{
  background-color: #d2d5da !important;
  color: black !important;
  border: none;
  
}

.auth-page-button-divs{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: auto;

}

.submit-button {
  width: 50%;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0);
  color: #ffffff  ;
  border: 2px solid #ffffff !important ;
}
.auth-back-button{
  background-color: #b0b3b8;
  color: black;
  border: none !important;
}
.auth-back-button:hover{
  background-color: #d2d5da !important;
  color: black !important;
  border: none;
  
}



.ant-steps-item-title{
  color: white !important;
  font-size: 1.5rem !important;
}

.ant-steps-icon-dot{
  background: white !important;
}
